/data/eurostat_momo/be_age_sex_arrondissement/
/data/eurostat_momo/europe_age_sex/
/data/epistat_weekly/
/data/epistat_daily/
/data/sciensano_open_data/
/derived data/epistat/daily all images/
/derived data/epistat/daily all images/black/
/derived data/epistat/weekly all images/
/derived data/epistat/weekly screening context/
/derived data/epistat/WZC n nationaal testing platform/
/notebooks/Old/